Hello, {{preferredName}}
<p>Someone requested that the password for your VConnect - Platform account be reset.
<p>Please use the following verification code to reset your password:</p>
<b>{{verificationCode}}</b>
<p>This verification code is good until the next hour and can be only used once.</p>
<p>If you didn't request this, you can ignore this email or let us know. Your password won't change until you create a new password.</p>
<p>Thanks,</p>
<p>VConnect - Platform Team</p>