Hola, {{preferredName}}
<p>Alguien solicitó que se restableciera la contraseña de su cuenta de VConnect - Platform.
<p>Utilice el siguiente código de verificación para restablecer su contraseña:</p>
<b>{{verificationCode}}</b>
<p>Este código de verificación es válido hasta la próxima hora y solo se puede usar una vez.</p>
<p>Si no solicitó esto, puede ignorar este correo electrónico o hacérnoslo saber. Su contraseña no cambiará hasta que cree una nueva.</p>
<p>Gracias,</p>
<p>Equipo VConnect - Platform</p>