Olá, {{preferredName}}
<p>Alguém solicitou que a senha de sua conta VConnect - Platform seja redefinida.
<p>Use o seguinte código de verificação para redefinir sua senha:</p>
<b>{{verificationCode}}</b>
<p>Este código de verificação é válido até a próxima hora e pode ser usado apenas uma vez.</p>
<p>Se você não solicitou isso, pode ignorar este e-mail ou nos avisar. Sua senha não mudará até que você crie uma nova senha.</p>
<p>Obrigado,</p>
<p>Equipe VConnect - Platform</p>